#search{
	height: 33px;
	padding-bottom: 27px;
}

#form-search input, #form-search select{
height: 33px;
border-radius: 5px;
}

#rowArticle{
	margin-top: 70px;
}

#rowArticle h2 {
	font-size: 28px;;
}

#rowArticle h3{
	font-size: 17px;
}