header{
	background-image: url(../img/boutique1.jpg.);
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	height: 500px;
}

#burger{
	border: 1px solid black;
	padding: 10px;
	border-radius: 15px;
	background-color: #FFF;
	cursor: pointer;
	color: blue;
}

.btnSearch{
	background-color: transparent;
	margin-left: -50px;/*-100% de la largeur*/
}

.loupe{
	color: blue;
	font-size: 1.5em;
}

#menuBurger{
	display: none;
	background-color: #FFF;
	border: 1px solid black;
	position: absolute;
	z-index: 1;
	width: 50%;
}

.list-group-item:hover{
	cursor: pointer;
	background-color: rgba(100, 100, 200, 0.5);
}
li a{
	text-decoration: none;
	color: black;
}

#connectDiv{
	display: none;
	background-color: #FFF;
	position: absolute;
	width :300px;
	left: 50%;
	margin-left: -150px;
	padding: 10px 0;
	border-radius: 5%;
}